*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 87, 91);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    border: 0.1em solid black;
    border-radius: 10px;
    background-color: rgba(60, 40, 40, 0.253);
    padding: 2vw;
    height: 35vh;
    width: 25vw;
    box-shadow: 0.5em 0.5em 1em 0em black;
    overflow: hidden;
}

.login-box p1{
    font-weight: bolder;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.578);
    margin-bottom: 2vw;
}

.login-input{
    display: flex;
    flex-direction: column;
    position: relative;
}
input {
    padding-top: 0.7em;
    margin-bottom: 2em;
    background-color: transparent;
    color: white;
    height: 2rem;
    border: none;
    border-bottom: 0.25em solid rgba(0, 0, 0, 0.332);
}

input::placeholder{
    color: whitesmoke;
    padding-left: 0.2em;
    font-size: 1.2em;
}
input:focus::placeholder{
    color: transparent;
    transition: 0.3s;
}

button{
    font-size: 0.9em;
    height: 1.6em;
    width: 100%;
    background-color: rgb(72, 157, 161);
    color: rgba(255, 255, 255, 0.864);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover{
    background-color: rgb(55, 119, 122);
    transition: 0.2s ease-in;
}

button:active{
    transform: scale3d(0.95, 0.99, 1);
}
